# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Env
.env
.env.local
.env.*.local

# Windows Zone.Identifier
*:Zone.Identifier
